<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>컴퓨터 상세보기</title>
</head>
<script>
    function basket() {
        return true;
    }
    function comBuy(frm) {
        var url = document.location.href;
        console.log(url);
        var cut = url.split('/');
        console.log(cut[4]);
        frm.action = "/comBuy/" + cut[4];
        frm.submit();
        return true;
    }  
</script>

<body>
    <%for(var i=0;i<data.length; i++) { %>
    <form action="/basket/<%= data[i].pid %>" method="POST" onsubmit='return basket();' style="width: 100%; height: 1000px;">
        <div style="margin: 10%;">
            <h2 style="width: 300px;"><%=data[i].pname%></h2>
            <hr />
            <div style="width: 50%; float: left;">
                <img style="margin-left:13% ;" src="/<%=data[i].pimg%>" width="300" height="300" alt="상품이미지" />
            </div>
            <div style="width: 50%; float: left;">
                <h4>종류 : <%=data[i].pkind%></h4>

                <% if(sess.info.urate == 'bronze'){%>
                <h4>가격 : <%=data[i].pprice%></h4>
                <% }%>
                <% if(sess.info.urate == 'silver'){%>
                <h4>가격 : <%=data[i].pprice*0.95%> <h3 style="color: red;">5% 할인되었습니다.</h3></h4>
                <% }%>
                <% if(sess.info.urate == 'vip'){%>
                <h4>가격 : <%=data[i].pprice*0.90%> <h3 style="color: red;">10% 할인되었습니다.</h3></h4>
                <% }%>
                <h4>평점 : <%=data[i].prate%> </h4>
                <% if(sess.info.master == 0) {%>
                <h4>수량 : <input style="width: 200px; height: 30px;" type="number" name="opamount" min="1" max="100"
                        step="1" value="1" /></h4>
                <%}%>
         </div>

         <div style="float: left; width: 50%;">
                <h4>상품 설명</h4>  
                <div style=" width:400px; height: 100px; border: 1px solid black;"><p style="margin: 5px;"><%=data[i].pexplan%></p></div>
            </div>
            <div style="float: left; width:100%; margin-top: 20px; text-align: right;">
                <% if(sess.info) {%>
                <% if(sess.info.master == 1) {%>
                <a style="text-decoration: none; color: black;" href="/delete/<%=data[i].pid%>">삭제</a>
                <a style="text-decoration: none; color: black;" href="/modify/<%=data[i].pid%>">수정</a>
                <%}else{%>
                <input type="submit" value="장바구니" style="margin-right: 10px; width: 200px; height: 50px; background-color:black; border-radius: 10px; border:1px solid black; font-size: 15px; color:white;">
                <input type='button' value='구매하기' onclick='return comBuy(this.form);' style="margin-right: 40px; width: 200px; height: 50px; background-color:gray; border-radius: 10px; border:1px solid gray; font-size: 15px; color:white;">
                <%}}}%>
            </div>

        </div>
    </form>
</body>

</html>