<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">    
    <title>상품 수정화면</title>
</head>

<body>
    <table>
        <tr>
            <% for(var i=0;i<data.length; i++) { %>
            <form action="/modify/<%= data[i].pid %>" method="POST">
                <td>모델번호</td>
                <td align=left>
                    <input type=text name=pid size=30 maxlength=35 value="<%= data[i].pid %>">
                </td>
        </tr>
        <tr>
            <td width=200 align=center>상품 이름</td>
            <td align=left>
                <input type=text name=pname size=30 maxlength=35 value="<%=data[i].pname%>">
            </td>
        </tr>
        <tr>
            <td width=200 align=center>가격</td>
            <td align=left>
                <input type="text" name="pprice" size="30" maxlength="35" value="<%=data[i].pprice%>">
            </td>
        </tr>
        <tr>
            <td width=200 align=center>상품 종류</td>
            <td align=left>
                <select id="pkind" name="pkind" size="1" style="width: 150px; height: 34px; margin-left: 47px;"
                    value="<%=data[i].pkind%>">
                    <option>종류</option>
                    <option value="컴퓨터">컴퓨터</option>
                    <option value="노트북">노트북</option>
                </select>
            </td>
        </tr>
        <tr>
            <td width=200 align=center>상품 설명</td>
            <td align=left>
                <textarea name=pexplan cols=65 rows=15><%=data[i].pexplan%></textarea>
            </td>
        </tr>
        </td>
        </tr>
        <tr>
            <td><input type="submit" value="수정완료">
            </td>
        </tr>
        </form>
        <%}%>
    </table>
</body>

</html>